<div>
  <h1>Hi, {{name}}! Welcome to Esto no es Moda</h1>
</div>
<div>
  <h2>Products</h2>
  <ul id="products">
    {{#each products}}
      <li>
        {{this.title}}
      </li>
    {{/each}}
  </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>